#observation-point-name {
    margin-top: 15px;
    margin-bottom: 0px;
}

#observation-point-details {
    font-size: 14px;
    margin-bottom: 25px;
    color: dimgrey;
}

.observation-box {
    border: 2px solid green;
    border-radius: 25px;
    margin-bottom: 10px;
    background-color: #71dd8a;
    max-width: 300px;
}

.observation-date {
    margin-left: 10px;
}

.observation-temperature {
    margin-left: 30px;
}
