<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Index</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/observation-point.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <body>
        <header th:replace="fragments/header :: header"/>

        <h1>Havaintopisteet</h1>
        <li th:each="observationPoint : ${observationPoints}">
            <a th:href="@{/observationpoint/{id}(id=${observationPoint.id})}" th:text="${observationPoint.name}"></a>
            <span th:text="${observationPoint.latitude}"></span>
            <span th:text="${observationPoint.longitude}"></span>
        </li>
    </body>
</html>
