<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Index</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/shared.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/observation-point.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <body>
        <header th:replace="fragments/header :: header"/>

        <div class="current-weather-container">
            <li class="current-weather no-bullets" th:each="observation : ${currentWeather}">
                <a class="current-observation-point" th:href="@{/observationpoint/{id}(id=${observation.observationPoint.id})}" th:text="${observation.observationPoint.name}"></a>
                <p class="current-temperature">
                    <span th:text="${observation.temperature}"></span><span class="degree">&deg; C</span>
                </p>
                <span class="current-weather-date" th:text="${#dates.format(observation.date, 'HH:mm:ss dd.MM.YYYY')}"></span>
            </li>
        </div>

        <footer th:replace="fragments/footer :: footer"/>
    </body>
</html>
