<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Observation point</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/shared.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/observation-point.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <body>
        <header th:replace="fragments/header :: header"/>

        <div class="content">
            <h1 id="observation-point-name" th:text="${observationPoint.name}"></h1>
            <div id="observation-point-details">
                <span>Latitude: </span>
                <span th:text="${observationPoint.latitude}"></span>
                <span>Longitude: </span>
                <span th:text="${observationPoint.longitude}"></span>
            </div>

            <li class="no-bullets" th:each="observation : ${observationPoint.observations}">
                <div class="observation-box">
                    <span class="observation-temperature" th:text="${observation.temperature}"></span><span>&deg; C</span>
                    <span class="observation-date" th:text="${#dates.format(observation.date, 'HH:mm:ss dd.MM.YYYY')}"></span>
                </div>
            </li>

            <form th:action="@{/observationpoint/{id}(id=${observationPoint.id})}" method="POST">
                <span>Lisää uusi havainto</span><br/>
                <input type="double" name="temperature"/>
                <input class="btn btn-default" type="submit" value="Lisää havainto"/>
            </form>
        </div>

        <footer th:replace="fragments/footer :: footer"/>
    </body>
</html>
